<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wafer Fault Detection</title>
    <!-- Normalize + Your CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<style>

</style>
<body>
<form action="/predict" method="post" enctype="multipart/form-data">
    <h1 align="center" style="color: whitesmoke; background-color: black; padding: 5px;">Sensor Fault Detection</h1>
    <div class="frame">
        <div class="center" align="center">
            <div class="dropzone">
                <img src="{{ url_for('static', filename='images/OIP.webp') }}" class="upload-icon"/>    
            </div>
            <input type="file" class="upload-input" name="file" accept=".csv">
            <br/>
            <button type="submit" class="btn" name="uploadbutton">Upload file</button>
        </div>
    </div>
</form>

<!-- jQuery + Your JS -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
